@charset "utf-8"; 
nav{
    font-family: Trebuchet MS, sans-serif;
    background-color: hsl(210, 50%, 20%);
    padding: 1em;
    
}
nav a{
    color:antiquewhite;
     margin-right: 10px;
}
nav a:hover {
  color: hsl(210, 100%, 70%);
}
h1{
     font-family: Helvetica, sans-serif;
    font-size: 2.1em;
}
h3{
     font-family: Helvetica, sans-serif;
    font-size: 1.1em;
}
section{
     font-family: Helvetica, sans-serif;
    font-size: 1em;
}
